<div class="container">

    <div class="row">

        <form class="form-add" action="/add" method="post" name="add_picture" encType="multipart/form-data">
            <h2> Добавление новых карточек</h2>
            <h5> Осторожно, не ошибитесь, пожалуйста!</h5>
            <h5> Иначе, возможно, всё сломается ;)</h5>
            <% if (msg != 'nomsg') { %>
                <p><font size="3" color="red" face="Arial"> <%= msg %> </font></p>
            <% } %>
            <div class="input-group mb-3">
                <input type="text" name="topic" placeholder="Группа предметов" class="form-control"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" name="word" placeholder="Название предмета" class="form-control"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
            </div>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" name="foo" class="custom-file-input" id="inputGroupFile04"
                        aria-describedby="inputGroupFileAddon04" placeholder="Картинка в формате .jpg" required>
                    <label class="custom-file-label" for="inputGroupFile04">Файл .jpg</label>
                </div>
            </div>
            <button id="add" class="btn add" type="submit">Добавить</button>
        </form>
    </div>

</div>

<style>
    .form-add {
        align-self: center;
        align-content: center;
        align-items: center;
        margin: auto;
    }
</style>