<div class="container">
    <div class="album py-5">
        <div class="row">
            <% for(var i=0; i < data.length; i++) { %>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm"><img scr="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= data[i].word%></h5>
                    </div>
                </div>
            </div>
            <% } %>
            <!--<div class="col-md-4">
                <div class="card mb-4 shadow-sm"><img scr="./public/img/cat.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm"><img
                        src="https://cdn.pixabay.com/photo/2019/09/28/20/21/trees-4511721_960_720.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm"><img
                        src="https://cdn.pixabay.com/photo/2019/09/28/20/21/trees-4511721_960_720.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>-->

        </div>
        <button id="finish_learn" class="btn finish_learn" type="submit">Учить еще!</button>
    </div>
</div>