<div class="card col-md-4 login">
    <div class="card-body">
        <form class="form-signin" method="post" action="/login" name="login">
            <a class="navbar-brand">
                Anglichanin Bot
            </a>
            <h1 class="h3 mb-3 font-weight-normal">Авторизуйтесь</h1>
            <label class="sr-only">Login</label>
            <input type="login" name="login" id="inputLogin" class="form-control" placeholder="Логин" required autofocus>
            <label class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
            <button id="login" class="btn btn-lg btn-block" type="submit">Войти</button>
        </form>
    </div>
</div>

<style>
    .btn {
        background-color: #171769;
        border: none;
        color: white;
        margin: 5px;
    }

    .btn:hover {
        box-shadow: 8.2px 5.7px 20px rgba(0, 0, 0, 0.34);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        color: white;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    html,
    body {
        height: 100%;
        background: #f0f0f0;
    }

    body {
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        /*background-color: #f5f5f5;*/
        /*background: #c8c8c8;*/
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        /* Выравниваем по центру */
        border: solid;
        border-color: #808080;
        /*background-color: #343a40;
    background-color: #808080;*/
    }

    .card.login,
    .card.register {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        /* Выравниваем по центру */
        border: solid;
        border-color: #696969;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .form-control {
        margin: 5px;
    }
</style>