<nav class="navbar navbar-expand-sm navbar-dark light-green">
    <a class="navbar-brand" method="get" action="/main" href="/main">Anglichanin Bot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileMenu"
        aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mobileMenu">
        <ul class="navbar-nav mr-auto">
            <% if (type_content == 'mainInfo') { %>
            <li class="nav-item active">
                <a class="nav-link" method="get" action="/main" href="/main">Как изучать английский язык с нами</a>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a class="nav-link" method="get" action="/main" href="/main">Как изучать английский язык с нами</a>
            </li>
            <% } %>
            <% if (type_content == 'learn') { %>
            <li class="nav-item active">
                <a class="nav-link" method="get" action="/learn" href="/learn">Учить слова</a>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a class="nav-link" method="get" action="/learn" href="/learn">Учить слова</a>
            </li>
            <% } %>

            <% if (type_content == 'train') { %>
            <li class="nav-item active">
                <a class="nav-link" method="get" action="/choose_train" href="/choose_train">Тренировка</a>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a class="nav-link" method="get" action="/choose_train" href="/choose_train">Тренировка</a>
            </li>
            <% } %>

            <% if (type_content == 'admin') { %>
            <li class="nav-item active">
                <a class="nav-link" method="get" action="/login" href="/login">Админ. панель</a>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a class="nav-link" method="get" action="/login" href="/login">Админ. панель</a>
            </li>
            <% } %>

        </ul>
        <!-- Если пользователь залогинен-->
        <!--<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="./lk.html" class="nav-link waves-effect">
						<span class="badge badge-pill badge-danger">12</span>
						<span class="oi oi-cart"></span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./lk.html">
						<span class="clearfix d-none d-sm-inline-block">5</span>
						<span class="oi oi-dollar"></span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./lk.html">
						<span class="clearfix d-none d-sm-inline-block">gt99</span>
						<span class="oi oi-person"></span>
					</a>
				</li>-->
        <button type="button" class="btn navbtnlogin btn-outline-light btn-lg" data-toggle="modal"
            data-target="#login">Войти</button>

        <div id="login" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form-signin" action="">
                        <h1 class="h3 mb-3 font-weight-normal">Авторизуйтесь</h1>
                        <label class="sr-only">Login</label>
                        <input id="inputLogin" class="form-control" placeholder="Логин" required autofocus>
                        <label class="sr-only">Password</label>
                        <input type="password" id="inputPasswordLogin" class="form-control" placeholder="Пароль" required>
                        <!--<a class="h6 mb-3 font-weight-normal" href="./register.html">Впервые у нас?
								Зарегистрируйтесь!</a>-->
                        <button id="login" class="btn btnlogin btn-lg btn-block" type="submit">Войти</button>
                    </form>
                </div>
            </div>
        </div>

        <button type="button" class="btn navbtnregister btn-outline-light btn-lg" data-toggle="modal"
            data-target="#register">Регистрация</button>

        <div id="register" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form-register" action="">
                        <h1 class="h3 mb-3 font-weight-normal">Зарегистрируйтесь</h1>
                        <label class="sr-only">Name</label>
                        <input id="inputName" class="form-control" placeholder="Имя" required autofocus>
                        <label class="sr-only">Login</label>
                        <input id="inputLoginRegister" class="form-control" placeholder="Логин" required autofocus>
                        <label class="sr-only">Email</label>
                        <input id="inputEmail" class="form-control" placeholder="Адрес электронной почты" required
                            autofocus>
                        <label class="sr-only">Password</label>
                        <input type="password" id="inputPasswordRegister" class="form-control" placeholder="Пароль" required>
                        <!--<h1 class="h6 mb-3 font-weight-normal" href="/register">Впервые у нас? Зарегистрируйтесь!</h1>-->
                        <!--a class="h6 mb-3 font-weight-normal" href="./auth.html">Уже были у нас? Войдите!</a>-->
                        <button id="register" class="btn btnregister btn-lg btn-block"
                            type="submit">Регистрация</button>
                    </form>
                </div>
            </div>
        </div>

        </ul>

    </div>
</nav>